<div class="linhas">
  <img src="./../../../assets/Linhas.png" alt="Linhas decorativas" />
</div>
<div class="row">
  <div class="background-dark">
    <img src="./../../../assets/Logo Branca.png" alt="Logo Branca" />
    <ul>
      <li>
        <mat-icon>location_on</mat-icon> Avenida Cezira Giovani Moretti, 655,<br />
        Piracicaba, São Paulo 13.414-157, BR
      </li>
      <li>
        <mat-icon>location_on</mat-icon> Rua Evangelino Meireles 570, Salas 01 e
        02,<br />
        Anápolis, Goiás 75110-720, BR
      </li>
    </ul>
  </div>
  <div class="info-columns">
    <div class="column">
      <h3>Empresa</h3>
      <ul>
        <li><a href="https://aionz.com.br/sobre-nos" target="_blank" rel="noopener noreferrer">Sobre nós</a></li>
        <li><a href="https://api.whatsapp.com/send/?phone=556237714496&text&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">Contato</a></li>
        <li><a href="#">Parceria comercial</a></li>
        <li><a href="https://aionz.com.br/trabalhe-conosco" target="_blank" rel="noopener noreferrer">Trabalhe conosco</a></li>
        <li><a href="#">Fale com a equipe</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Contato</h3>
      <ul>
        <li><a href="https://www.example.com" target="_blank" rel="noopener noreferrer">Z Club</a></li>
        <li><a href="https://cxcorp.com.br/?utm_source=site-aionz&utm_medium=footer" target="_blank" rel="noopener noreferrer">CX Corp</a></li>
        <li><a href="#">Produto 3</a></li>
        <li><a href="#">Produto 4</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Redes Sociais</h3>
      <ul>
        <li><a href="https://www.linkedin.com/company/aionz/mycompany/?viewAsMember=true&utm_source=site-aionz&utm_medium=footer" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
        <li><a href="https://www.instagram.com/aionz.com.br?utm_source=site-aionz&utm_medium=footer" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Contato</h3>
      <ul>
        <li><a href="https://api.whatsapp.com/send/?phone=556237714496&text&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer">
          <img src="./../../../assets/Group.png" alt="WhatsApp" />
          (62) 3771-4496
        </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="parent_component">
  <p>
    © 2024 - AionZ. Todos os direitos reservados | Termos de Uso | Políticas de Privacidade
  </p>
  <div class="social-icons">
    <a href="https://www.instagram.com/aionz.com.br" target="_blank" rel="noopener noreferrer"><img src="./../../../assets/insta.png" alt="Instagram" /></a>
    <a href="https://www.linkedin.com/company/aionz" target="_blank" rel="noopener noreferrer"><img src="./../../../assets/linkedin.png" alt="LinkedIn" /></a>
    <a href="https://www.facebook.com/aionz" target="_blank" rel="noopener noreferrer"><img src="./../../../assets/IconFacebook.png" alt="Facebook" /></a>
  </div>
</div>
