@import "../../../color-variavles.scss";

.navbar {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100px;
  padding: 0 200px;
  border: 1px solid $neutralColors-200;
  background-color: $amarelo-50;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  a {
    font-size: 16px;
    color: $primary-verde;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 56px;
  opacity: 1;
  transition: opacity 0.3s ease;

  &.hide {
    display: none;
  }

  span {
    font-weight: 400;
    color: #000;
    font-size: 24px;
  }
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 56px;
  opacity: 1;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  background: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

form.d-flex {
  display: flex;
  align-items: center;
  gap: 8px;

  .search-container {
    position: relative;
    border: 1px solid rgba($primary-verde, 0.2);
    border-radius: 40px;
    transition: width 0.3s ease;
    width: 339px;
    height: 56px;

    &.show {
      display: block;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: $verde-300;
    pointer-events: none;
  }

  .form-control {
    border: none;
    border-radius: 40px;
    padding: 14px 24px;
    width: 339px;
    height: 56px;
    background: transparent;
    transition: background-color 0.3s ease, width 0.3s ease;

    &:focus {
      outline: none;
      width: 339px;
      height: 56px;
    }
  }
}

// Responsividade para telas médias
@media (max-width: 1147px) {
  .navbar {
    height: 90px;
    padding: 0px 50px;
  }

  .container-fluid {
    justify-content: center;
    align-items: center;
  }

  form.d-flex {
    .search-container {
      position: relative;
      width: 239px;
      height: 46px;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }

    .form-control {
      width: 239px;
      height: 46px;
      padding: 10px;

      &:focus {
        outline: none;
        width: 239px;
        height: 46px;
      }
    }
  }
}

@media (max-width: 868px) {
  .navbar {
    height: 80px;
    padding: 0px 30px;
  }

  .navbar-link {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar-toggler {
    display: flex;
    flex-direction: row;
  }

  .container-fluid {
    margin: 0px;
    width: 300px;
    justify-content: flex-start;
  }
}

@media (max-width: 418px) {
  .navbar {
    padding: 0px 10px;
    border: none;
  }

  .navbar-toggler {
    display: flex;
    justify-content: flex-end;
  }

  form.d-flex {
    display: none;
  }
}

@media (max-width: 335px) {
  .navbar {
    padding: 0;
    justify-content: space-around;
  }

  .container-fluid {
    width: 200px;
  }
}
