<nav class="navbar">
  <div class="container-fluid">
    <!-- Link para voltar para o site com ícone -->
    <a
      class="navbar-link"
      href="https://aionz.com.br/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <mat-icon>arrow_back</mat-icon> Voltar para o site
    </a>

    <span class="navbar-brand">
      Blog da
      <img
        src="assets/Logo.png"
        width="115.47"
        height="29.88"
        class="d-inline-block align-text-top"
        alt="Logo"
      />
    </span>

    <!-- Formulário de pesquisa com ícone -->
    <form class="d-flex" role="search">
      <div class="search-container">
        <input
          class="form-control"
          type="search"
          placeholder="O que está procurando?"
          aria-label="Search"
        />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </form>
  </div>

  <!-- Botão de alternância do menu -->
  <button
    class="navbar-toggler d-md-none"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu colapsável -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <a
      class="navbar-link"
      href="https://aionz.com.br/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <mat-icon>arrow_back</mat-icon> Voltar para o site
    </a>
    <input class="form-control" type="search" aria-label="Search" />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
</nav>
