@import "./../../../color-variavles.scss";

.btn {
  border: none;
  border-radius: 140px;
  padding: 20px 40px;
  margin-top: 30px;

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }

  &.primary {
    color: $primary-verde;
    border: 1px solid $primary-verde;

    font-size: 16px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 15px 30px;
      margin-top: 20px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
      padding: 12px 25px;
      margin-top: 15px;
    }
  }

  &.secondary {
    background: $primary-verde;
    color: #FCFCFC;

    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 15px 30px;
      margin-top: 20px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
      padding: 12px 25px;
      margin-top: 15px;
    }
  }
}
