//Tons de vermelho
$primary-laranja: #ff5e39;
$vermelho-100: #e02203;
$vermelho-200: #8e2100;

//Tons de verde
$verde-100: #29e529;
$verde-200: #037F03;
$primary-verde: #005257;
$verde-300: #023535;

//Tons claros
$vermelho-50: #FFDFD9;
$amarelo-50: #FCFCF8;
$amarelo-100: #FFFFD4;
$neutralColors-50: #FCFCFC;
$neutralColors-100: #F7F7F7;
$neutralColors-200: #C5CAC5;
$neutralColors-400: #7D847D;

//Tons escuros
$neutralColors-500: #585F58;
$neutralColors-600: #4D544D;
$neutralColors-700: #404541;
$neutralColors-900: #2f322f;
$neutralColors-950: #191b18;

