@import "../../../color-variavles.scss";

.benefit-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 24px;
    object-fit: cover;
    width: 100%;
  }

  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: url(./../../../assets/gradiente.png);
    background-size: cover;
    pointer-events: none;
    border-radius: 24px;
  }

  h3,
  p {
    position: absolute;
    font-family: Inter;
    width: calc(100% - 40px);
  }

  h3 {
    bottom: 60px;
    left: 20px;
    font-size: 20px;
    color: $amarelo-100;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    opacity: 1;
    margin-bottom: 0;
  }

  p {
    bottom: 20px;
    left: 20px;
    color: $amarelo-50;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 0;
  }
  // Responsividade para telas médias
  @media (max-width: 1024px) and (min-width: 601px) {
    img {
      width: 85%; 
    }

    .gradient-overlay {
      width: 85%;
    }

    h3,
    p {
      width: calc(100% - 30px);
      left: 15px;
      text-align: left;
    }

    h3 {
      bottom: 60px;
      font-size: 18px;
      line-height: 28px;
      color: $amarelo-100;
      padding: 0 5px;
    }

    p {
      bottom: 20px;
      font-size: 13px;
      line-height: 1.5;
      color: $amarelo-50;
      padding: 0 5px;
    }
  }

  // Responsividade para telas médias
  @media (max-width: 1024px) and (min-width: 601px) {
    img {
      width: 85%;
    }

    .gradient-overlay {
      width: 85%;
    }

    h3,
    p {
      width: calc(100% - 30px);
      left: 15px;
      text-align: left;
    }

    h3 {
      bottom: 60px;
      font-size: 18px;
      line-height: 28px;
      color: $amarelo-100;
      padding: 0 5px;
    }

    p {
      bottom: 20px;
      font-size: 13px;
      line-height: 1.5;
      color: $amarelo-50;
      padding: 0 5px;
    }
  }
}
